/* General Features */

body {
    background-image: url('../images/signin-bg.png');
    background-position: top;
}

.form-control {
    background-color: #219DFA;
    border: none;
    color: #116aab;
    border-radius: 0;
    font-size: 1.2em;
    padding: .375rem 1.75rem;
    position: relative;
}

input:-webkit-autofill:not(:focus) {
    -webkit-text-fill-color: #116aab;
}

.custom-select {color: #116aab;}

.dropdown-toggle::after {
    position: absolute;
    left: 3%;
    top: 50%;
    vertical-align: baseline;
}

.dropdown-menu {
    width: 100%;
    text-align: right;
}

.form-control::-webkit-input-placeholder,
.dropdown-toggle {color: #116aab;}

/* Navbar Features */

nav {
    margin-bottom: 11rem;
}

/* Main Content */

main .actions,
main .types {
    border-radius: 50px;
    outline: none;
}

main .actions,
main .actions button {
    background-color: white;
}

main .types {
    background-color: #219DFA;
}

main .actions button,
main .types button {
    border: 0;
    padding: .8rem 1.5rem;
    font-size: 1.4em;
    border-radius: 50px;
    outline: none;
}

main .types button:hover {
    color: black;
}

main .actions button:hover {
    color: #FED33D;
}

main .types button {
    background-color: transparent;
    padding: .3rem 1.5rem;
    color: white;
    font-size: 1.2em;
}

main .actions button.active,
main .types button.active {
    border-radius: 50px;
    background-color: #FED33D;
    color: black;
}

/* Form Content */

form {min-height: 65vh}

form button.btn {
    padding: .1rem 3.5rem .3rem 3.5rem;
    border-radius: 50px;
    font-size: 1.3em;
    display: block;
    margin: auto;
}

.form-group {position: relative;}

.form-control + i {
    position: absolute;
    top: 12%;
    left: 1.5%;
    font-size: 2em;
    color: #0a91f3;
    visibility: hidden;
    z-index: 0;
}

.form-control:valid + i{
    /* display: block; */
    visibility: visible;
    /* background-color: green; */
}

/* Footer Content */

footer {
    color: white;
}

footer .icons .fa-twitter {
    color: white;
}