/* General Features */

* {
    box-sizing: border-box;
    transition: all .2s ease-in;
}

::selection {
    background-color: #F3465B;
    color: white;
}

body {
    padding: 3rem 0;
    font-size: 16px;
    background-image: url('../images/main-bg-crop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
    font-family: 'Cairo', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 95%;
}

.nav-link {
    padding: 1rem .5rem 1.5rem;
}

/* Navbar Features */

nav {
    margin-bottom: 10rem;
}

nav #logo {
    display: block;
    width: 15rem;
}

nav li {
    margin: 0 1rem;
}

nav ul li a {
    border-bottom: 3px solid #F0EFF1;
}

nav ul li:hover > a {
    border-bottom: 3px solid #1C8EFA;
}

/* Header Features */

header {
    margin-bottom: 5rem;
}

header .row {
    margin-right: 2rem;
}

header p {
    font-size: 1.9em;
}

header img {
    width: 11rem;
}

/* Main Content */

main .content {
    padding: 2rem 1rem 0;
    background: white;
    box-shadow: 3px 13px 15px 7px #d4d2d2;
    border-radius: 10px;
    margin-bottom: 2rem;
}

main .tab {
    margin-bottom: 2rem;
    position: relative;
    cursor: pointer;
    color: #b5b5b5;
    font-size: 1.4em;
    min-height: 100px;
}

main .tab::after {
    content: '';
    width: 19%;
    height: 3px;
    background-color: #d4d2d2;
    position: absolute;
    border-radius: 7px;
}

main .tab:hover, 
main .tab.active {
    color: black;
    font-size: 2em;
}

main .tab:hover::after, 
main .tab.active::after {background-color: #1C8EFA;}

main .sidebar {
    padding: 4rem 3rem;
}

main .sidebar .action {font-size: .6em;}
main .sidebar p {margin-bottom: .4rem;}

/* Carousel Content */
.owl-carousel {
    direction: ltr;
}

.first {background: linear-gradient( rgb(245 169 0 / 0.78), rgb(255 212 0 / 78%), rgb(241 180 8 / 78%) ),
    url(../images/content.jpg);}

.second {background: linear-gradient( rgb(0 155 245 / 78%), rgb(0 173 255 / 78%), rgb(8 144 241 / 78%) ),
                     url(../images/content.jpg);}

.third {background: linear-gradient( rgb(162 0 245 / 78%), rgb(150 0 138 / 78%), rgb(216 8 241 / 78%) ),
                    url(../images/content.jpg);}

.item {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    border-radius: 15px;
    filter: contrast(150%);
}

.owl-prev span, .owl-next span {
    font-size: 2em;
    position: absolute;
    top: 45%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    padding: .6rem .9rem;
}

.owl-prev span {left: 5%;}
.owl-next span {right: 5%;}

.bookmark{ 
    position: absolute; 
    height: 55px; 
    width: 30px; 
    padding: 0px;
    -webkit-transform: rotate(0deg) skew(0deg); 
    transform: rotate(0deg) skew(0deg); 
    border-left: 15px solid #F3465B; 
    border-right: 15px solid #F3465B; 
    border-bottom: 15px solid transparent; 
    z-index: 1;
    left: 4%;
    top: -1%;
}

/* Footer Content */

footer {
    direction: ltr;
    margin-top: 10rem;
}

footer .icons a {
    margin: 0 .5rem;
}

footer .icons a:first-of-type {margin: 0 0;}

footer .icons .fa-twitter {
    color: #1C8EFA;
    font-size: 1.3em;
    vertical-align: bottom;
}

.copyright {
    text-align: left;
    font-size: .9em;
}